body{
    background-image:linear-gradient(45deg, #2c3156, #1b1a33)
    

}
P{
    color:white;
    text-align: center;
    font-size: 150%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color:white;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    padding: 2px;
    
}

a{
    color: white;
    font-size: 150%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
text-decoration-color: #2c3156;
}

img{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    top:0%;
    border-radius: 10px;
border: 1px solid rgb(255, 255, 255);
padding: 2px;

}